body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    background-color: lightblue;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #995c5c;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@media (min-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
}


.video-style{
    width: 50vw;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    background-color: purple;
}
.rounded-img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}


.media-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: rgb(130, 11, 11);
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.rounded-img{
    
    border-radius: 20px;
}

.box {
    background-color: yellow;
    padding: 20px;
    border: 1px solid black;

}
.btn{
    background-color:purple;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.1s;
}

.btn:hover{
    background-color: red;
    box-shadow:0 0 15px black;
}
@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}